@media screen and (max-width: 1194px) {
  /* ______________Produkte________________ */

  .group-name {
    font-size: 25px;
    position: relative;
    float: left;
    width: 100%;
    border: none;
    margin-left: 5px;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: 50px;
    border-top: 1px solid #393939;
  }

  .product-wrapper {
    width: 28%;
    height: 30%;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #1e1e1e;
  }

  .product-image {
    width: auto;
    height: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
  }

  .product-name {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 12px;
    word-break: break-all;
  }

  .product-overlay {
    width: 28%;
    height: 30%;
    position: absolute;
    z-index: 10000;
    background-color: #000000d7;
    display: none;
  }

  .is-in-cart {
    display: block !important;
  }

  .icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(113deg)
      brightness(104%) contrast(108%);
  }

  .btn-icon {
    width: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .product-icon {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(113deg)
      brightness(104%) contrast(108%);
    z-index: 1000000;
  }

  .button-icon {
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(113deg)
      brightness(104%) contrast(108%);
  }

  .group-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  .group-wrapper-name {
    position: relative;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
  }

  .ck-button {
    margin: 4px;
    background-color: #15161d;
    border-radius: 5px;
    overflow: unset;
    color: white;
    width: 285px;
    position: relative;
    height: 50px;
    font-size: 20px;
    -webkit-box-shadow: 0 0 16px 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 16px 0 rgb(255 255 255 / 3%);
    transition: 0.1s ease;
  }

  .ck-button label {
    float: left;
    width: 100%;
    height: 100%;
    line-height: 44px;
  }
  .ck-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
  }
  .ck-button label input {
    position: absolute;
    top: -20px;
  }
  .ck-button input:checked + span {
    background-color: #092309;
    text-decoration: line-through;
    color: green;
  }

  .input-mobile {
    background-color: rgb(24, 24, 24) !important;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(28 28 28);
    position: relative;
    font-size: 15px;
    z-index: 1;
    display: block;
    transition: 0.2s ease;
  }

  .input {
    display: none;
  }

  .filter-input-button {
    width: 50px;
    height: 50px;
    background-color: blue-color;
  }

  .searchbar {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 70px;
    background-color: #2788b0;
    left: 5px;
    z-index: 10001;
    border-radius: 30px;
    transition: 0.2s ease;
  }

  .list-item {
    background-color: #2f2f2f;
  }
  .search-expanded-bar {
    width: 300px;
  }
  .search-expanded-input {
    width: 200px;
  }
  .render-list-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 140px;
    background-color: #2788b0;
    left: 5px;
    z-index: 10001;
    border-radius: 30px;
    transition: 0.2s ease;
  }
}
