@media screen and (max-width: 1194px) {
  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 1000000;
    display: none;
  }
  .modal-gen {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    border: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 0;
    z-index: 1000000;
    transition: 0.2s ease;
    display: none;
  }

  .modal-body-gen {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
    margin-top: 5px;
    flex-wrap: wrap;
    overflow: scroll;
    align-content: flex-start;
  }

  .modal-footer {
    display: none;
  }

  .modal-header-gen {
    width: 95%;
    height: 80px;
    display: flex;
  }

  .modal-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(113deg)
      brightness(104%) contrast(108%);
  }
  .modal-icon:hover {
    cursor: pointer;
  }

  .modal-header-font {
    position: absolute;
    font-size: 30px;
    top: 20px;
    left: 20px;
  }

  .modal-open {
    height: 90%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  /* ________________________________________________________________ */

  .splash-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 10000;
    background-color: rgb(20 20 20);
  }

  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100px;
  }
  .loading-font {
    color: white;
    font-size: 20px;
  }

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
